= action_button(t('event.lists.bsv_export_button'), '#',
                :download, title: t('event.lists.bsv_export_button'),
                data: { toggle: 'popover', content: render('popover_bsv_export').to_str })
