= action_button(t('event.lists.bsv_export_button'),
                nil,
                :download,
                data: { bs_toggle: 'popover', bs_title: t('event.lists.bsv_export_button'), bs_content: render('popover_bsv_export').to_str })