- title t('.title')

= render 'event/participations/step_wizard', step: 1

= crud_form(entry,
  { cancel_url: group_event_path(group, event),
    buttons_bottom: true,
    submit_label: t('.save'),
    url: contact_data_managed_group_event_participations_path(group, event,
      {event_role: { type: params[:event_role][:type] }})}) do |f|

  = render 'form', f: f

